<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="slider">
        <figure>
            <img src="../../../assets/img/picture1.jpg">
            <img src="../../../assets/img/picture2.jpg">
            <img src="../../../assets/img/picture3.jpg">
        </figure>
    </div>
    <div class="global">

        <section class="welcomeBox">
            <div class="container">
                <div class="row">
                    <article class="col-lg-12 col-md-12 col-sm-12">
                        <h2>Plunge into the wonderful<br />world of reading</h2>
                    </article>
                </div>
            </div>
        </section>


    </div>
    <app-aboutus class="global"></app-aboutus>
</body>

</html>