<div class="main">
  <div class="global indent">
    <!--content-->
    <div class="container">
      <div class="row">
        <article class="col-lg-4 col-md-4 col-sm-5">
          <h3>mission &amp; vision</h3>
          <ul class="list2">
            <li>
              <div class="badge">1.</div>
              <div class="extra-wrap">
                <p>
                  <a href="#">esque pretium metus et.</a><br />Donec
                  hendrerit metus quis velit sollicitudin tincidunt. Ut
                  aliquam massa, congue suscipit risus metus eget libero.
                </p>
              </div>
            </li>
            <li>
              <div class="badge">2.</div>
              <div class="extra-wrap">
                <p>
                  <a href="#">Cum sociis natoque pena.</a><br />Aenean non
                  nibh consectetur, vulputate nibh ut, placerat enim. In
                  ornare, velit quis molestie lobortis, lorem.
                </p>
              </div>
            </li>
            <li>
              <div class="badge">3.</div>
              <div class="extra-wrap">
                <p>
                  <a href="#">que penatibus et magnis.</a><br />Nibh ut,
                  placerat enim. In ornare, velit quis molestie lobortis,
                  lorem urna laoreet dui, vitae imperdiet turpis.
                </p>
              </div>
            </li>
          </ul>
        </article>
        <article class="col-lg-8 col-md-8 col-sm-7 aboutBox">
          <h3>about us</h3>
          <h4>Aliquam at est porttitor, rutrum felis eget.</h4>
          <p>
            Mauris at augue dignissim, bibendum ante ac, condimensemper
            nisl! Cras commodo dolor lobortis massa luctus mollis. Cras
            commodo, felis at tempor sodales, nulla ante Cras aliquet
            dignissim semper? Nullam ac justo vitae arcu mollis rutrum.
            Nam laoreet blandit tortor, ullamcorper placerat diam iaculis
            aliquam. Cras rutrum lorem leo, at sollicitudin arcu tempor
            eu? aliquet nisl mi, at tempus justo dictum vitae. Nulla
            vestibulum orci est, sed sagittis purus lobortis eu.
          </p>
          <a href="#" class="btn-default btn1">read more</a>
        </article>
      </div>
    </div>
  </div>
  <section class="formBox">
    <div class="container">
      <article class="col-lg-12 col-md-12 col-sm-12 contactBox">
        <figure class="map">
          <iframe
            src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Brooklyn,+New+York,+NY,+United+States&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=61.282355,146.513672&amp;ie=UTF8&amp;hq=&amp;hnear=Brooklyn,+Kings,+New+York&amp;ll=40.649974,-73.950005&amp;spn=0.01628,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
        </figure>
      </article>
      <div class="row">
        <article class="col-lg-4 col-md-4 col-sm-4">
          <h3>get in touch</h3>
          <div class="info">
            <h4>Address 1:</h4>
            <p>8901 Marmora Road, Glasgow, D04 89GR.</p>
            <h4 class="tel">Telephones:</h4>
            <p>
              +1 800 559 6580<br />+1 959 603 6035<br />+1 504 889 9898
            </p>
            <h4>Address 2:</h4>
            <p>9867 Mill Road, Cambridge, MG09 99HT.</p>
          </div>
        </article>
        <article class="col-lg-8 col-md-8 col-sm-8">
          <h3>Contact Form</h3>
          <form id="contact-form">
            <div class="success-message">Contact form submitted.</div>
            <div class="holder">
              <div class="form-div-1 clearfix">
                <label class="name">
                  <input type="text" data-constraints="@Required @JustLetters" id="regula-generated-946552" />
                  <span class="empty-message">*This field is required.</span>
                  <span class="error-message">*This is not a valid name.</span>
                  <span class="_placeholder" style="
                    left: 0px;
                    top: 0px;
                    width: 212px;
                    height: 41px;
                  ">Name:</span></label>
              </div>
              <div class="form-div-2 clearfix">
                <label class="email">
                  <input type="text" data-constraints="@Required @Email" id="regula-generated-472918" />
                  <span class="empty-message">*This field is required.</span>
                  <span class="error-message">*This is not a valid email.</span>
                  <span class="_placeholder" style="
                    left: 0px;
                    top: 0px;
                    width: 212px;
                    height: 41px;
                  ">E-mail:</span></label>
              </div>
              <div class="form-div-3 clearfix">
                <label class="phone notRequired">
                  <input type="text" data-constraints="@JustNumbers" id="regula-generated-339846" />
                  <span class="empty-message">*This field is required.</span>
                  <span class="error-message">*This is not a valid phone.</span>
                  <span class="_placeholder" style="
                    left: 0px;
                    top: 0px;
                    width: 212px;
                    height: 41px;
                  ">Phone:</span></label>
              </div>
            </div>
            <div class="form-div-4 clearfix">
              <label class="message">
                <textarea data-constraints="@Required @Length(min=20,max=999999)"
                  id="regula-generated-349694"></textarea>
                <span class="empty-message">*This field is required.</span>
                <span class="error-message">*The message is too short.</span>
                <span class="_placeholder"
                  style="left: 0px; top: 0px; width: 740px; height: 201px">Message:</span></label>
            </div>
            <div class="btns">
              <a href="#" data-type="submit" class="btn-default btn1">submit</a>
            </div>
          </form>
        </article>
      </div>
    </div>
  </section>
</div>