.LoginBox
{
    padding-top: 0;
    padding-bottom: 0;
    background: #ffffff;
    width: 100%;
}
body{
  background: #ffffff !important;
}
 .card { 
  width: 500px;
  height: 500px;
  margin-left:350px;
  margin-top: 100px;
  margin-bottom: 100px;
} 
input{
  width: 358px;
}
button
{
  width: 358px;
  margin-top: 25px
}
.emptydiv
{
  height: 10px;
}
h2{
  color: black;
  margin-bottom: 0px;
  font-family: Georgia, serif;
  text-transform: initial;
}
h1{
  
  margin-bottom: 0px;
  font-family: Georgia, serif;
  text-transform: initial;
  font-size: small;
}
.loginfields
{
  margin-left: 50px;
}
.headings
{
  margin-left: 62px;
}
.btn-danger
{
 width: 100px;
 margin-left: 1000px;
 margin-top: -250px;
}