.readbooksBox
{
    padding-top: 0;
    padding-bottom: 0;
    background: #ffffff;
    width: 100%;
}
h3 
{
  text-align: center;
}
input
{
  width: 500px;
  
}
body{
  background: #ffffff !important;
  position: fixed;
}
 .card { 
  width: 780px;
  height:320px;
  margin-left:250px;
  margin-top: 100px;
  margin-bottom: 100px;
} 
input{
  width: 358px;
}
button
{
  width: 358px;
  
}
.emptydiv
{
  height: 10px;
}
h2{
  color: black;
  margin-bottom: 0px;
  font-family: Georgia, serif;
  text-transform: initial;
}
h1{
  color: black;
  margin-bottom: 0px;
  font-family: Georgia, serif;
  text-transform: initial;
  font-size: small;
}
.loginfields
{
  margin-left: 50px;
}
.orderfields
{
  margin-left: 150px;
}
.headings
{
  margin-left: 62px;
}
#histbtn
{
  margin-left: -224px;
  width: 250px;
}
.vl {
  border-left: 1px solid black;
  height: 320px;
  position: absolute;
  left: 80%;
  margin-left: -3px;
  top: 101px;
}

.orderhead
{
  margin-top: -66px;
}
.orderfoot
{
  margin-top: 50px;
}